<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Yireo\NextGenImages\Convertor\ConvertorInterface" type="Yireo\NextGenImages\Convertor\DummyConvertor"/>
    
    <type name="Magento\Framework\View\LayoutInterface">
        <plugin name="yireo_nextgenimages_replace_tags" type="Yireo\NextGenImages\Plugin\ReplaceTagsPlugin"/>
    </type>

    <type name="Magento\Swatches\Helper\Data">
        <plugin name="yireo_nextgenimages_correct_images_in_ajax_response" type="Yireo\NextGenImages\Plugin\CorrectImagesInAjaxResponse"/>
    </type>

    <type name="Yireo\NextGenImages\Logger\Debugger">
        <arguments>
            <argument name="logger" xsi:type="object">Yireo\CustomLogger\Logger\VirtualLogger</argument>
        </arguments>
    </type>

    <virtualType type="Magento\Framework\Logger\Monolog" name="Yireo\CustomLogger\Logger\VirtualLogger">
        <arguments>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Yireo\NextGenImages\Logger\VirtualCustomLogHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType type="Magento\Framework\Logger\Handler\Base" name="Yireo\NextGenImages\Logger\VirtualCustomLogHandler">
        <arguments>
            <argument name="fileName" xsi:type="string">var/log/yireo_nextgenimages.log</argument>
        </arguments>
    </virtualType>
</config>
