name: ExtDN Coding Standard
on: [push]

jobs:
  static:
    name: Coding Standard
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: extdn/github-actions-m2/magento-coding-standard/7.4@master
